@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin default-container {
  background-color: white;
  padding: 3rem;

  border-radius: 1rem;

  @include box-shadow(0px 5px 10px 2px rgba(34, 60, 80, 0.2))
}

a {
  text-decoration: none;
  color: inherit;
}